/* width: 800px;
margin: 0 auto;
padding: 4rem 0;
background-color: burlywood; */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 891px;
  margin: 4rem auto;
  padding: 3rem 8rem;
  background: #ce9751;
  border-radius: 5px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

button {
  background: #bc5986;
  color: #272727;
  border: 0;
  border-radius: 3px;
  padding: 0.6rem 0.8rem;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
}

.button-container {
  width: 500px;
  margin: 0 auto;
}

.image-container {
  margin-top: 4rem;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}
