/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ======================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

.flex {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #363636;
  color: #fff;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.sub-title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.9);
}

.heading {
  margin-top: 2rem;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  color: #4a4a4a;
}

.form-container {
  display: flex;
}

.form-div {
  margin-top: 3rem;
  border: 4px solid #f09f91;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 6px -6px #777;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.col-1-2 {
  flex: 0 1 49%;
}

h3 {
  font-size: 2rem;
  color: #00d1b2;
}

.form-input {
  font-size: 15px;
  font-weight: 600;
  padding: 15px 25px;
  margin: 12px 0;
  border: 1px solid #999;
  width: 100%;
}

label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin: 28px 0px 12px;
}

.form-input::placeholder {
  color: #d4d0d0;
  font-weight: 400;
}

.checkbox {
  font-weight: 400;
}
